{% extends '::base.html.twig' %}




{% block js_additional  %}
{% if skin is not null %}
<script src="/js/jquery.min.js"></script>
<script src="/lib/minecraft/Three.js"></script>
<script src="/lib/minecraft/RequestAnimationFrame.js"></script>

{% javascripts '@AtomicUserBundle/Resources/public/js/*' %}


<script type="text/javascript" src="{{ asset_url }}"></script>

<script type="text/javascript">
    $(document).ready(function() {


        drawSteve(document.getElementById('steve'), "{{user.username}}", "/{{skin.getUploadDir}}", "/{{cloack.getUploadDir}}");

    }
    );
    </script>

{% endjavascripts %}
{% endif %}
    
{% endblock js_additional %}




{% block content %}



    <div class="blog-item">

        <h1>Пользователь {{user.username}}</h1>

        <div id="steve"></div>
        <p>Статус: {{permission.getStatus}}</p>


        <p>Последний раз заходил на сайт {{user.lastlogin|date('d-m-Y в h:m:s')}}</p>
        
        <p>Игровой баланс:  {{user.coins}}</p>
        
        <p>Баланс шишей на Hitech сервере</p>
        <p>Баланс шишей на Classic сервере</p>
         

    </div>
{% endblock %}
