{% extends '::base.html.twig' %}

{% block title %}
Пользователь {{user.username}}
{% endblock title %}


{% block js_additional  %}

<script src="/js/jquery.min.js"></script>
<script src="/lib/minecraft/Three.js"></script>
<script src="/lib/minecraft/RequestAnimationFrame.js"></script>

{% javascripts '@AtomicUserBundle/Resources/public/js/*' %}


<script type="text/javascript" src="{{ asset_url }}"></script>

<script type="text/javascript">
    $(document).ready(function() {

        {% if skin is not null %}
        drawSteve(document.getElementById('steve'), "{{user.username}}", "/{{skin.getUploadDir}}", "/{{cloack.getUploadDir}}");
        {%else %}
        drawSteve(document.getElementById('steve'), "party-skin", "/players-data/default/", "");
        {% endif %}

    }
    );
    </script>

{% endjavascripts %}


{% endblock js_additional %}




{% block content %}



    <div class="blog-item">

        <h1>Пользователь {{user.username}}</h1>

        <div id="steve"></div>
        <p>Статус: {{permission.getStatus}}</p>


        <p>Последний раз заходил на сайт {{user.lastlogin|date('d-m-Y в h:m:s')}}</p>

        <p>Игровой баланс:  {{user.coins}} рублей</p>

        <p>Имеет {{coins['hitech']}} шишей на Hitech сервере</p>
        <p>Имеет {{coins['classic']}} шишей на Classic сервере</p>


    </div>
{% endblock %}
