{% extends '::base.html.twig' %}
{% block title %}
Сервер {{server.name}}
{% endblock title %}

{% block content %}
<div class="blog-item">
    <h1>Сервер {{server.name}}</h1>
    <div id="server -information">{{server.info|raw}}</div>



{% if isAdmin %}
    
    <a href="{{path("atomic_server_new")}}">Новый</a>
    
    <a href="{{path("atomic_server_edit",{"id":server.id})}}">Редактировать</a>

    <a href="{{path("atomic_server_delete",{"id":server.id})}}">Удалить</a>

 {% endif %}  
</div>
{% endblock %}
