{% extends 'AtomicBlogBundle::layout.html.twig' %}
{% block content %}
 {% block js_additional  %}
<script src="/js/jquery.min.js"></script>
<script src="/lib/minecraft/Three.js"></script>
<script src="/lib/minecraft/RequestAnimationFrame.js"></script>

{% javascripts '@AtomicUserBundle/Resources/public/js/*' %}
<script type="text/javascript" src="{{ asset_url }}""></script>
{% endjavascripts %}


{% endblock %}


<div class="blog-item">


    <h1>Поздравляем, {{user.username}}</h1>
    <p>Ваш скин успешно обновлен</p>
    <div id="steve"></div>
    <p>Все еще старый скин? А нажмите ctrl+r :)</p>
</div>

<script type="text/javascript">
    $(document).ready(function() {

        var container = document.getElementById('steve');

        drawSteve(container, "{{user.username}}", "/{{user.skin.uploadDir}}","/{{user.cloack.getUploadDir}}");
    }
    );
    </script>
{%endblock %}